body {
    background-color: #000000;
}

h1 {
    color: #c1f8b6;
    font-family: 'Cairo', sans-serif;
    margin: 0 auto;
    text-align: center;
   font-size: 2.5em;
   border: solid #99d98c;
   border-radius: 0.5em;
  padding: 1em ;
width: 400px;
margin-top: 50px;
}

h1:hover {
 
    color: #fe7f2d;
    border: solid #fe7f2d;
    border-radius: 0.5em;
    transition: 1s;
    cursor: pointer;
}

a {
    text-decoration: none;
}

.first, second, third {
    color: #99d98c;
   
  }


.first{
    height: 10em;
    width: 40em;
    border: solid #99d98c;
    border-radius: 0.5em;
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
    padding-bottom: 3.5em;
    
}


.second {
    height: 10em;
    width: 40em;
    border: solid #99d98c;
    border-radius: 0.5em;
    margin: 0 auto;
    text-align: center;
    margin-top: 45px;
    padding-bottom: 3.5em;

}

.third {
    height: 10em;
    width: 40em;
    border: solid #99d98c;
    border-radius: 0.5em;
    margin: 0 auto;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 4.5em;
    padding-bottom: 11.5em;

 
    
}


div:hover {
    color: #fe7f2d;
    border: solid #fe7f2d;
    border-radius: 0.5em;
    transition: 1s;
  
}

img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
   padding: 25px;

  
}

